/* RESET */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

img{
	max-width: 100%;
} 

a{
	text-decoration: none;
	color: currentColor;
}

menu,
ul,
ol{
	list-style: none;
}

button{
    border: none;
}

/* LAYOUT */

.container_lg{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

.container{
    max-width: 100%;
    max-width: 1254px;
    margin: 0 auto;
}

.container_sm{
    max-width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-12{
    width: calc(12 * 100% / 12);
}

.col-4{
    width: calc(4 * 100% / 12);
}

.col-8{
    width: calc(8 * 100% / 12);
}



/* UTILITI */

.space_between{
    justify-content: space-between;
}

.flex_box{
    display: flex;
    flex-wrap: wrap;
}

/* BUTTONS */

.button{
    background-color: #0161FF;
    color: white;
    display: inline-block;
    text-align: center;
}

.button_small{
    line-height: 35px;
    font-size: 20px;
    padding: 0 10px;
}

.button_medium{
    line-height: 45px;
    font-size: 20px;
    padding: 0 10px;
}

.button_bg_none{
    background: none;
    color: black;
}

/* HEADER */

.header_nav{
    display: flex;
    gap: 30px;
    align-items: center;
    color: grey;
}

.row.header{
    justify-content: space-between;
    padding: 22px;
    flex-wrap: nowrap;
}



/* MAIN */

/* HERO <SECTION> */
.hero_title{
    margin-bottom: 75px;
}

.hero{
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: #B4D0E7;
}

.style_column_1{
    gap: 30px;
    align-items: flex-start;
    flex-direction: column;
}

.title_style_h1{
    font-size: 75px;
}

.arrow_hero{
  margin-top: auto;
}



/* PRICING - OPTIONS <SECTION> */

.fatturazione_radio_button{
    display: flex;
    gap: 30px;
    align-items: center;
    color: grey;
    padding-bottom: 50px;
}

.title_style_h3{
    font-size: 30px;
    margin-bottom: 75px;
}

.title_radio{
    padding-top: 165px;
}

/* CARDS */

.card{
    display: flex;
    flex-wrap: wrap;
    padding: 0 25px;
    padding-bottom: 25px;
}

.card_header{
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    width: 100%;
    border: 1px solid black;
}

.card_main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 55px;
    padding: 40px 0;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.pricing_card{
    display: flex;
    flex-direction: column;
}

.price{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.user_features{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.anchors_link{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.plan_highlights{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.price_title{
    font-size: 20px;
    font-weight: 700;
}

.price_price{
    font-size: 12px;
}

.mese{
    font-size: 12px;
    color: gray;
}

.user_features{
    font-size: 14px;
}

.link_style{
    font-size: 14px;
}

.link_style a{
    text-decoration: underline;
    color: blue;
    font-size: 14px;    
}

.plan_highlights_title{
    font-weight: 700;
}

.plan_highlights{
    font-size: 14px;
}

.check_color{
    color: #0161FF;
}


/* DEBUG */

/* .debug .container_lg{
   border: 1px solid black;
   padding: 3px;
}

.debug .container{
    border: 1px solid black;
    padding: 3px;
} */

 .debug .container_sm{
    border: 1px solid black;
    padding: 3px;
    height: 150px;
}

.debug [class^='col']{
    border: 1px solid red;
    /* height: 100px; */
    padding: 3px;
}

.debug .row{
    border: 1px solid green;
    padding: 3px;
 }

 